<!DOCTYPE html>
<html data-ng-app="adsSystem">
<head lang="en">
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" href="resources/styles/main.css">
    <link rel="stylesheet" href="resources/styles/bootstrap.css">
    <link rel="stylesheet" href="resources/styles/bootstrap-theme.css">
</head>
<body  data-ng-controller="MainCtrl">
<header data-ng-cloak>
    <h1>{{loc}}<span>{{currentUser}}<a href  data-ng-click="logout()" data-ng-if="isLogged">Logout</a></span></h1>
</header>
<nav class="navbar-left">
    <ul class="nav nav-pills nav-stacked" data-ng-cloak>
        <li class="active" data-ng-click="changeHeading('Ads - Home')"><a href="#/">Home</a></li>
        <li  data-ng-if="!isLogged"><a href="#/login">Login</a></li>
        <li  data-ng-if="!isLogged"><a href="#/register">Register</a></li>
        <li  data-ng-if="isLogged"><a href="#/my-ads">My Ads</a></li>
        <li  data-ng-if="isLogged"><a href="#/new-ad">Publish New Ad</a></li>
        <li  data-ng-if="isLogged" data-ng-click="getUserData()"><a href="#/profile">Edit Profile</a></li>
    </ul>
    <!--My adds section-->
    <ul class="nav nav-pills nav-stacked" data-ng-cloak data-ng-if="isLogged && loc == 'Ads - My Ads'">
        <li class="active" ><a href data-ng-click="sortByStatus('')">All</a></li>
        <li><a href data-ng-click="sortByStatus(2)">Published</a></li>
        <li><a href data-ng-click="sortByStatus(1)">Waiting Approval</a></li>
        <li><a href data-ng-click="sortByStatus(0)">Inactive</a></li>
        <li><a href data-ng-click="sortByStatus(3)">Rejected</a></li>
    </ul>
</nav>
    <!--Categories panel-->
<nav class="navbar-right" data-ng-if="loc == 'Ads - Home'">
    <ul class="nav nav-pills nav-stacked nav-right" data-ng-cloak>
        Categories :
        <li class="active" data-ng-click="sortByCategory('')"><a>All</a></li>
        <li data-ng-repeat="category in categories" ><a href data-ng-click="sortByCategory(category.id)">{{category.name}}</a></li>
    </ul>
   <!--Towns panel-->
    <ul class="nav nav-pills nav-stacked nav-right" data-ng-cloak>
        Towns :
        <li class="active" data-ng-click="sortByTown('')"><a>All</a></li>
        <li data-ng-repeat="town in towns" ><a href data-ng-click="sortByTown(town.id)">{{town.name}}</a></li>
    </ul>
</nav>
<div data-ng-view=""></div>
<script src="libs/angular.js"></script>
<script src="libs/angular-resource.js"></script>
<script src="libs/angular-route.js"></script>
<script src="libs/jquery.js"></script>
<script src="libs/bootstrap.js"></script>
<script src="libs/dirPagination.js"></script>

<script src="js/app.js"></script>
<script src="js/directives/ng-heading.js"></script>
<script src="js/directives/browse.js"></script>
<script src="js/services/public.js"></script>
<script src="js/services/user-factory.js"></script>
<script src="js/services/user-ads.js"></script>
<script src="js/controllers/main.js"></script>
<script src="js/controllers/ads.js"></script>
<script src="js/controllers/user-ads.js"></script>
<script src="js/controllers/users.js"></script>
</body>
</html>
