.add-panel{
    margin: 5px;
    max-width: 550px;
    height: 450px;
    background: #A9D18E;
    border: 2px solid #698A54;
}

.add-panel .title{
    font-weight: bolder;
    font-size:25px;
    margin: 30px auto 0;
    width:500px;
    height: 50px;
}

.add-panel .date{
   font-size: 17px;
    float:right;
}

.inner-background{
    border: 1px dotted #A9D18E;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.add-panel .picture{
    background: #C5E0B4;
    max-width:195px;
    max-height: 300px;
    float:left;
}

.add-panel .text{
    background: #C5E0B4;
    overflow: hidden;
    float:right;
    width:290px;
    max-height: 150px;

}

.add-panel .info{
    background: #C5E0B4;
    margin: 10px;
    padding: 5px;
    width:190px;
    display: inline-block;
    text-align: left;
    font-weight: normal;
}

.info-div{
    font-weight: bold;
    float:right;
    width:300px;
    text-align: right;
}

.container{
    margin: 0 auto;
    height: 900px;
}

#logout{

}

header{
    border: 2px solid #698A54;
    width:100%;
    background: #A9D18E;
    text-align: center;
    padding-bottom: 5px;
}

header > h1 > span{
    position: absolute;
    margin: 10px 33%;
    font-size: 20px;
}

#logout > a{
    margin-left: 15px;
}

nav{
    width:200px;
    text-align: center;
}

.form-signin{
    width:300px;
    margin: 0 auto;
}

#add-creation-form{
    display: block;
    width:600px;
    margin: 0 auto;
}

#add-creation-form > #text{
    width: 200px;
    height: 100px;
    resize: none;
}

a:hover{
    cursor: pointer;
}
.pictureBrowser{
    float:right;
    display: inline-block;
}

#preview{
    background: pink;
    width:150px;
    height: 200px;
}
