.add-panel{
    margin: 10px;
    max-width: 550px;
    height: 400px;
}

.add-panel .title{
    font-size: 25px;
    height: 50px;
}

.add-panel .date{
   font-size: 17px;
    float:right;
}

.add-panel img{
    width:200px;
   float:left;
}

.add-panel .text{
   background: lavender;
    margin-bottom: 10px;
}

.container{
    margin: 0 auto;
    width:900px;
}

header{

    text-align: center;
}

nav{
    width:200px;
    text-align: center;
    float:left;
}

.form-signin{
    width:300px;
    margin: 0 auto;
}
.link:link{
    background: red;
}