<form id="add-creation-form" data-ng-heading="Ads - Publish New Add">
    <label for="title">Title:</label>
    <input id="title" type="text" data-ng-model="title"> <br />
    <label for="text">Text:</label>
    <textarea id="text" data-ng-model="text"> </textarea> <br />
    <label for="img">Image:</label>
    <input type="file" id="img">
    <label for="category">Category:</label>
    <select id="category" data-ng-options="category.name for category in categories track by category.id" data-ng-model="category">
    </select>
    <label for="town">Town:</label>
    <select id="town" data-ng-options="town.name for town in towns track by town.id" data-ng-model="town">
    </select> <br />
    <button data-ng-click="createAdd()">Publish</button>
    <button>Cancel</button>
</form>
