<form class="add-creation-form outer-background" data-ng-heading="Ads - Edit Ad">
    <h2 class="title-heading">Edit Ad</h2>
    <label for="title">Title:</label>
    <input id="title" class="form-control" type="text" data-ng-model="selectedAdData.title"> <br />
    <label for="text">Text:</label>
    <textarea id="text" class="form-control" data-ng-model="selectedAdData.text"></textarea> <br />
    <label>Image:</label>
    <span class="image-data"></span><br />
    <label for="category">Category:</label>
    <select id="category" data-ng-model="selectedAdData.categoryId">
        <option data-ng-repeat="category in categories" data-ng-selected="category.name == selectedAdData.categoryName"
                value="{{category.id}}" data-ng-init="selectedAdData.categoryId = value">{{category.name}}
        </option>
    </select><br />
    <label for="town">Town:</label>
    <select id="town" data-ng-model="selectedAdData.townId">
        <option data-ng-repeat="town in towns" data-ng-selected="town.name == selectedAdData.townName"
                value="{{town.id}}"
                data-ng-init="selectedAdData.townId = value">{{town.name}}
        </option>
    </select>
    <br />
    <button data-ng-click="createAdd()" class="btn btn-lg btn-success">Publish</button>
    <button class="btn btn-lg btn-success">Cancel</button>
    <div data-ng-display data-ng-model="imgUrl"></div>
</form>


