<form class="form-signin outer-background" data-ng-submit="login()" ng-heading="Login">
        <h2 class="title-heading">Login</h2>
        <label for="userName">Username</label><br>
        <input type="text" id="userName" class="form-control" placeholder="Username" required autofocus data-ng-model="username"><br>
        <label for="inputPassword">Password</label><br>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required data-ng-model="password">
        <button class="btn btn-lg btn-success btn-block" type="submit">Login</button><a class="btn-link" href="#/register">Register here</a>
</form>

