<form class="form-signin" data-ng-submit="login()" ng-heading="Ads - Login">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="userName" class="sr-only">Username</label>
        <input type="text" id="userName" class="form-control" placeholder="Username" required autofocus data-ng-model="username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required data-ng-model="password">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

