<div class="container" ng-heading="My Ads">
    <div class="my-add outer-background add-panel" dir-paginate="ad in ads | itemsPerPage: data.ads.length" total-items="myTotalAds">
        <div class="content-div">
              <h2 class="title">{{ad.title}}</h2><span class="date">{{ad.date | date:'dd-MMM-yyyy'}}</span>
              <img class="inner-background picture" data-ng-src="{{ad.imageDataUrl || 'resources/images/no_image.jpg'}}"/>
              <div class="text inner-background">{{ad.text}}</div>
              <div class="info-div">
                     Category:<span class="info inner-background">{{ad.categoryName || 'No information'}}</span><br>
                     Town:<span class="info inner-background">{{ad.townName || 'No information'}}</span>
              </div>
        </div>
        <div class="status-div">
            <span class="status-span">Status:</span><br><span class="info inner-background">{{ad.status}}</span>
            <button class="btn btn-success" data-ng-if="ad.status != 'Inactive'" data-ng-click="editAd(ad.id, 'deactivate')">Deactivate</button> <br />
            <button class="btn btn-success" data-ng-if="ad.status == 'Inactive'" data-ng-click="getAdData(ad.id)">Edit</button><br />
            <button class="btn btn-success" data-ng-if="ad.status == 'Inactive'" data-ng-click="editAd(ad.id, 'publishagain')">Publish Again</button><br />
            <button class="btn btn-success" data-ng-if="ad.status == 'Inactive'" data-ng-click="getAdData(ad.id, true)">Delete</button><br />
        </div>
    </div>
</div>
<dir-pagination-controls ng-cloak on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>