<div class="container" ng-heading="Register">
    <form class="form-register outer-background" data-ng-submit="register()">
        <h2 class="title-heading">Register</h2>
        <div class="left">
        <label for="userName">Username</label>
        <input type="text" id="userName" class="form-control" required autofocus data-ng-model="username">
            <label for="inputPassword" >Password</label>
            <input type="password" id="inputPassword" class="form-control" required data-ng-model="password">
            <label for="realName">Name</label>
            <input type="text" id="realName" class="form-control" required autofocus data-ng-model="name">
            <label for="phone">Telephone</label>
            <input type="tel" id="phone" class="form-control" required autofocus data-ng-model="phone">
        </div>
        <div class="right">
        <label  for="reInputPassword" >Password</label><br />
        <input type="password" id="reInputPassword" class="form-control" required data-ng-model="repeatPassword">
        <label class="right-label" for="inputEmail" >Email address</label>
        <input type="email" id="inputEmail" class="form-control" required autofocus data-ng-model="email">
            <label for="userTown" class="right-label" >Town</label><br />
            <select id="userTown" data-ng-options="town.name for town in towns track by town.id" data-ng-model="userTown">
            </select>
        </div>
        <button class="btn btn-reg btn-success btn-block" type="submit">Register</button>
        <a class="btn-link" href="#/login">Login here</a>
    </form>
</div>